body{
background-color: darkviolet;
color: azure;
}
.heading{
width: 80%;
font-size: 22px;

}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color:deepskyblue;
    font-size: 20px;
}
#camera{
    border: 2px solid white;
    width: 350px;
    height: 300px;
}